<template>
  <div>
    <navbar />
    <b-container>
      <b-card title="Departamento">
        <b-form @submit.prevent="onSubmit" @reset="onReset">
          <b-form-group>
            <b-form-input
              id="input-1"
              v-model="departament.name"
              type="text"
              required
              placeholder="Nome"
            ></b-form-input>
          </b-form-group>

          <b-form-group>
            <b-form-input
              id="input-1"
              v-model="departament.code"
              type="text"
              required
              placeholder="Código"
              maxlength="12"
              minlength="4"
            ></b-form-input>
          </b-form-group>
          <b-button-group>
            <b-button type="submit" variant="success" class="btn-send"
              >SALVAR</b-button
            >
            <b-button type="reset" variant="outline-danger">Voltar</b-button>
          </b-button-group>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>
<script>
import Navbar from "@/components/Navbar.vue";
import validationsError from "@/services/validations-error.js";

export default {
  data() {
    return {
      departament: {
        id: "",
        name: "",
        code: null
      },
      isUpdate: false
    };
  },
  methods: {
    onReset() {
      this.$router.push({ name: "departaments" });
    },
    async onSubmit() {
      if (!this.isUpdate) {
        let res = await this.$store.dispatch(
          "departament/setNewDepartament",
          this.departament
        );
        if (res && res.code) validationsError.errorCode(res.code);
        else this.$router.push({ name: "departaments" });
      } else {
        await this.$store.dispatch(
          "departament/updateDepartamentExists",
          this.departament
        );
        this.$swal("Departamento altualizado com sucesso", "", "success");
        this.$router.push({ name: "departaments" });
      }
    },
    departamentUpdate() {
      const value = this.$router.params;
      if (value !== null) {
        this.departament = value;
        this.isUpdate = true;
      }
    }
  },
  components: {
    navbar: Navbar
  },
  beforeMount() {
    this.departamentUpdate();
  }
};
</script>
<style lang="scss" scoped>
.card {
  width: 35rem;
}
.container {
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
}
</style>
