<template>
  <div>
    <navbar />
    <b-container>
      <div class="btn-new">
        <span class="title-content">Departamentos</span>
        <b-button
          variant="success"
          @click="goToFormNewDepartament"
          v-if="isAdmin"
          >Novo</b-button
        >
      </div>
      <div class="table-top">
        <b-table
          responsive
          hover
          :items="listDepartaments"
          :fields="fields"
          :busy="loading"
          selectable
          :select-mode="selectMode"
          selected-variant="active"
          @row-selected="onRowSelected"
        >
          <template v-slot:table-busy>
            <div class="text-center text-primary">
              <b-spinner class="align-middle"></b-spinner>
            </div>
          </template>
          <template v-slot:cell(opcao)="row" v-if="isAdmin">
            <b-button
              @click="deleteDepartament(row.item)"
              variant="outline-danger"
              >Excluir</b-button
            >
          </template>
        </b-table>
      </div>
    </b-container>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Navbar from "@/components/Navbar.vue";

export default {
  data() {
    return {
      listDepartaments: [],
      loading: false,
      selectMode: "single"
    };
  },
  computed: {
    ...mapState("user", ["isAdmin"]),
    fields() {
      return [
        { key: "code", label: "Codígo" },
        { key: "name", label: "Nome", sortable: true },
        this.isAdmin ? { key: "opcao", label: "Opção" } : ""
      ];
    }
  },
  components: {
    navbar: Navbar
  },
  methods: {
    goToFormNewDepartament() {
      this.$router.params = null;
      this.$router.push({ name: "departamentForm" });
    },
    async onRowSelected(value) {
      this.$router.params = await this.$store.dispatch(
        "departament/getDepartament",
        value[0].id
      );
      this.$router.push({ name: "departamentForm" });
    },
    deleteDepartament(value) {
      this.$swal({
        title: `Deseja excluir ${value.name}`,
        text: "Click em ok para continuar",
        icon: "warning",
        buttons: ["cancelar", "Sim"],
        dangerMode: true
      }).then(res => {
        if (res) {
          this.$store.dispatch("departament/deleteDepartament", value.id);
          this.getDepartaments();
        }
      });
    },
    async getDepartaments() {
      this.loading = true;
      this.listDepartaments = await this.$store.dispatch(
        "departament/getListDepartaments"
      );
      this.loading = false;
    }
  },
  beforeMount() {
    this.getDepartaments();
  }
};
</script>
<style scoped>
.container {
  height: 100vh;
  margin-top: 2rem;
}
.card-item {
  max-width: fit-content;
  margin: 15px;
}
.btn-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.title-content {
  font-size: 24px;
}
</style>
