<template>
  <div>
    <departament />
  </div>
</template>
<script>
import Navbar from "@/components/Navbar.vue";
import Departament from "@/views/departament/Index.vue";
export default {
  components: {
    departament: Departament
  }
};
</script>
