<template lang="html">
  <b-container class="content-login" fluid>
    <b-card class="card-login">
      <b-form @submit.prevent="onSubmit">
        <b-form-group id="input-group-1" label="E-mail:" label-for="input-1">
          <b-form-input
            id="input-1"
            v-model="credentials.email"
            type="email"
            required
            placeholder="Insira seu e-mail"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          id="input-group-2"
          label="Senha:"
          label-for="input-2"
          description="Senha de 6 a 8 digítos"
        >
          <b-form-input
            id="input-2"
            v-model="credentials.password"
            required
            type="password"
            placeholder="Insira sua senha"
            maxlength="8"
            minlength="6"
          ></b-form-input>
        </b-form-group>
        <b-form-group>
          <span>Não possui conta? </span>
          <router-link to="/register">Criar conta</router-link>
        </b-form-group>
        <b-button type="submit" variant="primary">Entrar</b-button>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import validationsError from "@/services/validations-error.js";
export default {
  name: "login",
  props: [],
  mounted() {},
  data() {
    return {
      credentials: {
        email: "",
        password: ""
      }
    };
  },
  methods: {
    async onSubmit() {
      let res = await this.$store.dispatch("login/logIn", this.credentials);

      if (res && res.code) validationsError.errorCode(res.code);
      else {
        await this.$store.dispatch(
          "user/getUserByEmail",
          this.credentials.email
        );
        this.$router.push({ name: "home" });
      }
    }
  },
  computed: {}
};
</script>

<style scoped lang="scss">
.card-login {
  width: 35rem;
}

.container-fluid {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
</style>
