<template>
  <div>
    <b-navbar toggleable="lg" type="dark" variant="info">
      <router-link to="/home">
        <b-navbar-brand>Multedro</b-navbar-brand>
      </router-link>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav>
          <b-nav-item @click="goToDeparpament">Departamentos</b-nav-item>
          <b-nav-item @click="goToUsers">Funcionários</b-nav-item>
        </b-navbar-nav>

        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template v-slot:button-content>
              <span>Menu</span>
            </template>
            <b-dropdown-item @click="logOut">Sair</b-dropdown-item>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-navbar>
  </div>
</template>
<script>
export default {
  methods: {
    async logOut() {
      await this.$store.dispatch("login/logOut");
      this.$router.push({ name: "login" });
    },
    goToDeparpament() {
      this.$router.push({ name: "departaments" });
    },
    goToUsers() {
      this.$router.push({ name: "users" });
    }
  }
};
</script>
