<template lang="html">
  <b-container fluid>
    <b-card class="card-register" title="Nova conta">
      <b-form @submit.prevent="onSubmit" @reset="onReset">
        <b-form-group>
          <b-form-input
            id="input-1"
            v-model="user.name"
            type="text"
            required
            placeholder="Nome completo"
          ></b-form-input>
        </b-form-group>

        <b-form-group>
          <b-form-input
            id="input-1"
            v-model="user.email"
            type="email"
            required
            placeholder="E-mail"
          ></b-form-input>
        </b-form-group>

        <b-form-group>
          <b-form-input
            id="input-2"
            v-model="user.password"
            required
            placeholder="Senha (6 a 8 digítos)"
            type="password"
            maxlength="8"
            minlength="6"
          ></b-form-input>
        </b-form-group>

        <b-button-group>
          <b-button type="submit" variant="primary" class="btn-send"
            >ENVIAR</b-button
          >
          <b-button type="reset" variant="outline-danger">Voltar</b-button>
        </b-button-group>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import validationsError from "@/services/validations-error.js";

export default {
  name: "login",
  props: [],
  mounted() {},
  data() {
    return {
      user: {
        name: "",
        email: "",
        password: "",
        isAdmin: false
      }
    };
  },
  methods: {
    async onSubmit() {
      let res = await this.$store.dispatch(
        "login/createUserAuthFirebase",
        this.user
      );

      if (res && res.code) validationsError.errorCode(res.code);
      else {
        await this.$store.dispatch("user/setNewUser", this.user);
        this.$router.push({ name: "login" });
      }
    },
    onReset() {
      this.$router.go(-1);
    }
  },
  computed: {}
};
</script>

<style scoped>
.card-register {
  width: 35rem;
}
.container-fluid {
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-send {
  margin-right: 5px;
}
</style>
