<template>
  <div>
    <navbar />
    <b-container>
      <b-card title="Funcionário">
        <b-form @submit.prevent="onSubmit" @reset="onReset">
          <b-form-group>
            <b-form-input
              id="input-1"
              v-model="user.name"
              type="text"
              required
              placeholder="Nome completo"
              maxlength="200"
              minlength="10"
            ></b-form-input>
          </b-form-group>

          <b-form-group>
            <b-form-input
              id="input-1"
              v-model="user.email"
              type="email"
              required
              placeholder="E-mail"
            ></b-form-input>
          </b-form-group>

          <b-form-group>
            <b-form-input
              id="input-2"
              v-model="user.password"
              required
              placeholder="Senha (6 a 8 digítos)"
              type="password"
              maxlength="8"
              minlength="6"
            ></b-form-input>
          </b-form-group>

          <b-form-group>
            <b-form-select
              v-model="user.departament"
              :options="departamentsList"
              required
              text-field="name"
              value-field="name"
            >
              <template v-slot:first>
                <option value="null" disabled>Selecione um departamento</option>
              </template>
            </b-form-select>
          </b-form-group>
          <b-form-group v-if="isAdmin">
            <b-form-checkbox
              id="checkbox-1"
              v-model="user.isAdmin"
              name="checkbox-1"
              unchecked-value="false"
            >
              Admin
            </b-form-checkbox>
          </b-form-group>

          <b-button-group>
            <b-button type="submit" variant="success" class="btn-send"
              >SALVAR</b-button
            >
            <b-button type="reset" variant="outline-danger">Voltar</b-button>
          </b-button-group>
        </b-form>
      </b-card>
    </b-container>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Navbar from "@/components/Navbar.vue";
import validationsError from "@/services/validations-error.js";

export default {
  data() {
    return {
      user: {
        id: "",
        name: "",
        email: "",
        password: "",
        isAdmin: false,
        departament: null
      },
      isUpdate: false,
      departamentsList: []
    };
  },
  computed: {
    ...mapState("user", ["isAdmin"])
  },
  methods: {
    onReset() {
      this.$router.push({ name: "users" });
    },
    async onSubmit() {
      if (!this.isUpdate) {
        let res = await this.$store.dispatch(
          "login/createUserAuthFirebase",
          this.user
        );
        if (res && res.code) validationsError.errorCode(res.code);
        else {
          await this.$store.dispatch("user/setNewUser", this.user);
          this.$router.push({ name: "users" });
        }
      } else {
        await this.$store.dispatch("user/updateUserExists", this.user);
        this.$swal("Funcionário altualizado com sucesso", "", "success");
        this.$router.push({ name: "users" });
      }
    },
    userUpdate() {
      const value = this.$router.params;
      if (value !== null) {
        this.user = value;
        this.isUpdate = true;
      }
    },
    async getAllDepartaments() {
      this.departamentsList = await this.$store.dispatch(
        "departament/getListDepartaments"
      );
    }
  },
  components: {
    navbar: Navbar
  },
  beforeMount() {
    this.userUpdate();
    this.getAllDepartaments();
  }
};
</script>
<style lang="scss" scoped>
.card {
  width: 35rem;
}
.container {
  height: 100vh;
  padding: 15px;
  display: flex;
  justify-content: center;
}
</style>
