<template>
  <div>
    <navbar />
    <b-container>
      <div class="btn-new">
        <span class="title-content">Funcionários</span>
        <b-button variant="success" @click="goToFormNewUser" v-if="isAdmin"
          >Novo</b-button
        >
      </div>
      <div class="table-top">
        <b-table
          responsive
          hover
          :items="items"
          :fields="fields"
          :busy="loading"
          selectable
          :select-mode="selectMode"
          selected-variant="active"
          @row-selected="onRowSelected"
        >
          <template v-slot:table-busy>
            <div class="text-center text-primary">
              <b-spinner class="align-middle"></b-spinner>
            </div>
          </template>
          <template v-slot:cell(opcao)="row" v-if="isAdmin">
            <b-button @click="deleteUser(row.item)" variant="outline-danger"
              >Excluir</b-button
            >
          </template>
        </b-table>
      </div>
    </b-container>
  </div>
</template>
<script>
import { mapState } from "vuex";
import Navbar from "@/components/Navbar.vue";

export default {
  data() {
    return {
      listUsers: [],
      loading: false,
      selectMode: "single"
    };
  },
  computed: {
    ...mapState("user", ["isAdmin"]),
    fields() {
      return [
        { key: "name", label: "Nome", sortable: true },
        { key: "email", label: "E-mail" },
        { key: "departament", label: "Departamento" },
        { key: "isAdmin", label: "Administrador", sortable: true },
        this.isAdmin ? { key: "opcao", label: "Opção" } : ""
      ];
    },
    items() {
      return this.listUsers.map(item => {
        item.isAdmin = item.isAdmin ? "Sim" : "Não";
        item.departament =
          item.departament === undefined
            ? "Sem departamento"
            : item.departament;
        return item;
      });
    }
  },
  components: {
    navbar: Navbar
  },
  methods: {
    goToFormNewUser() {
      this.$router.params = null;
      this.$router.push({ name: "userForm" });
    },
    async onRowSelected(value) {
      this.$router.params = await this.$store.dispatch(
        "user/getUser",
        value[0].id
      );
      this.$router.push({ name: "userForm" });
    },
    deleteUser(value) {
      this.$swal({
        title: `Deseja excluir ${value.name}`,
        text: "Click em ok para continuar",
        icon: "warning",
        buttons: ["cancelar", "Sim"],
        dangerMode: true
      }).then(res => {
        if (res) {
          this.$store.dispatch("user/deleteUser", value.id);
          this.$store.dispatch("login/deleteUserAccountLogin");
          this.getUsers();
        }
      });
    },
    async getUsers() {
      this.loading = true;
      this.listUsers = await this.$store.dispatch("user/getListUsers");
      this.loading = false;
    }
  },
  beforeMount() {
    this.getUsers();
  }
};
</script>
<style scoped>
.container {
  height: 100vh;
  margin-top: 2rem;
}
.card-item {
  max-width: fit-content;
  margin: 15px;
}
.btn-new {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}
.title-content {
  font-size: 24px;
}
</style>
